.navbar-light .navbar-brand{
overflow: hidden; height:40px

}
.navbar-light.navbar-expand-lg .navbar-brand img{
  transform: translateY(-56%);
}
.col-md-5.liston{padding-right: 25px;padding-left: 25px}
.con {margin-top: 15%}

background: linear-gradient(137deg, #fff6b7, #f77c99, #6578f2, #c2ffd8);
background-size: 800% 800%; -webkit-animation: AnimationName 16s ease infinite; -moz-animation: AnimationName 16s ease infinite; -o-animation: AnimationName 16s ease infinite; animation: AnimationName 16s ease infinite;
@-webkit-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} }
@-moz-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } @-o-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} }
@keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} }

#sbg { color: #fff; background: linear-gradient(-45deg, #bb438b,#482775, #294091,#783ec8); background-size: 400% 400%;
  animation: AnimationName 6s ease infinite; width: 100%; height:auto; display: flex; flex-direction: column;
  align-items: center; justify-content: center; top: 35%; text-align: center; }

button {color: #fff; background: linear-gradient(-45deg, #454545,#482775, #a6a6a6,#482775); background-size: 400% 400%;
  animation: AnimationName 5s ease infinite; width: auto%; height:auto; display: flex; flex-direction: column;
  align-items: center; justify-content: center; top: 35%; text-align: center;


}
.listul {margin:0 0 50% 50%}
div.wrapmap {margin:-6% 0 0 0}
button::after { }
button::before { }


.slideitem{ height:calc(100vh - 100px);}
#sbg.slick-slide.slideitem {height:calc(100vh - 100px);}
.navbar {margin-bottom: 5%}
#map {width: 1140px;
height: 450px;
margin-top: 6%;}
#Send {margin: 0 0 0 85%!important;}
/* 슬라이드 글자 왼쪽 */

.textbox1 {position:absolute;margin:10% 0% 0% 25%;
flex-direction: column;
-moz-box-pack: center;
justify-content: center;
display: flex;
text-align: center;}
.slideh5 {font-size:1.3rem;color:#ddd;padding: 5px 20px;line-height: 1.66;letter-spacing: 2px;text-transform: uppercase;margin-bottom: 10px;}
.slideh6 {font-size:3rem;color:#ddd;padding: 5px 20px}
.xodlf span {font-size:0.8rem;color:#ddd;padding: 5px 20px}
.slidetext {position:relative;margin: 25px auto;}
.slidetext a {color: white;font-size:1rem;border:2px #fff solid;padding:5px 25px;}
.slidetext a:hover{color:black;background:white}
/* 슬라이드 글자 오른쪽 */

.textbox1_1 {position:absolute;margin:10% 0% 0% 55%;
flex-direction: column;
-moz-box-pack: center;
justify-content: center;
display: flex;
text-align: center;}
.slideh5_1 {font-size:1.3rem;color:#ddd;padding: 5px 20px;line-height: 1.66;letter-spacing: 2px;text-transform: uppercase;margin-bottom: 10px;}
.slideh6_1 {font-size:3rem;color:#ddd;padding: 5px 20px}
.xodlf .slidespan_1 {font-size:0.8rem;color:#ddd;padding: 5px 20px}
.slidetext_1 {position:relative;margin: 25px auto;}
.slidetext_1 a {color: white;font-size:1rem;border:2px #fff solid;padding:5px 25px;}
.slidetext_1 a:hover{color:black;background:white}






@media screen and (max-width: 1024px){
  #sbg  .slick-slide.slideitem { background-size:auto 100% !important}
  #sbg .slideitem:nth-child(1) {background: rgba(0, 0, 0, 0) url("/boot/img/slideimg/1s1024.jpg") no-repeat scroll center top / 100% !important; }
  #sbg .slideitem:nth-child(2) {background: rgba(0, 0, 0, 0) url("/boot/img/slideimg/2s1024.jpg") no-repeat scroll center top / 100% !important; }
  #sbg .slideitem:nth-child(3) {background: rgba(0, 0, 0, 0) url("/boot/img/slideimg/3s1024.jpg") no-repeat scroll center top / 100% !important; }
  #sbg .slideitem:nth-child(4) {background: rgba(0, 0, 0, 0) url("/boot/img/slideimg/4s1024.jpg") no-repeat scroll center top / 100% !important; }

}

@media screen and (max-width: 999px){
  #map {width:500px }
}
@media screen and (max-width: 850px){
  #map {width:400px }
#sbg  .slick-slide.slideitem { background-size:auto 80% !important}
}

@media screen and (max-width: 767px){
  #map {width: 500px;}

}


@media screen and (max-width: 451px){
  #map {width:451px}
  #Send {margin: 0 0 0 75%!important;}
}




@media screen and (max-width: 390px){
  .navbar-light.navbar-expand-lg .navbar-brand img {transform: translateY(-56%);}
  #map {width: 388px}
  #Send {margin: 0 0 0 65%!important;}
}

@media screen and (max-width: 320px){
  .navbar-light.navbar-expand-lg .navbar-brand img {transform: translateY(-56%);}
  #map {width: 375px;}
}

#terms {
  display: none;
  width: 600px;
  height: 200px
}

#etcEmail {
  display: none;
}

#etcEmail.disB {
  display: block;
}

#agree {
  display: none;
}

#agree+label i.xi-check-square-o,
#agree:checked+label i.xi-checkbox-blank {
  display: none
}

#agree:checked+label i.xi-check-square-o,
#agree+label i.xi-checkbox-blank {
  display: inline-block
}

#agree2 {
  font-size: 20px
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.clear{ clear:both}
.clear:after{ content:""; display:block; clear:both}
.navbar .container{ padding:0}
.span7{color:#222;display: block;text-align:center;}
.copyright {margin:0 0 5% 0}


.title_Tail {
   font-family: 'Nanum Myeongjo';
padding-top: 5px;
padding-bottom: 40px;
font-size: 3.2em;
color: #222;
font-weight: 700;
text-align: center;
letter-spacing: -2px;
}
.normalContent{
letter-spacing: -1px;
line-height: 2;
text-align: center;
font-size: 14px;}

blockquote{border: 1px solid #ccc; border-width:1px 0; padding: 15px 0}

blockquote .fa{color:#ccc; }
.fa-quote-right{ margin-top:100px}
.solar_panels_banner_area{ margin:0}

.youtubeLatest{ background:#f1f1f1; margin: 15px 0 }
